{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">
        <form action="." method="POST" class="input_form">
            <h2>{{article.title}}</h2>
            {% csrf_token %}
            <div>
                Продукт
                {{form.as_p}}
            </div>
            <div>
                Заготовка
                {{form.complex_products}}
            </div>
            
            
            <button type="submit" class="btn btn-dark" value="Add" name="operation">Add</button>
    
            <div>
                <button type="submit" class="btn btn-dark" value="Save" name="operation">Save</button>
                <button type="submit" class="btn btn-danger" value='Delete' name="operation">Delete</button>
            </div>
            
        </form>
    </div>

    <hr>
    
    <div  class="container-fluid" id="article_ingredients">
        <form>
            <h2>Съставки</h2> 
            <button type="submit" class="btn btn-dark" value="Remove" name="operation">Remove</button> 
        </form>
    </div>


{% endblock %}