{% extends 'base.html' %}

{% block content %}

<section>
    <form class="container-fluid" method="POST">
      {% csrf_token %}
        
      {{article_form.as_p}}
        
      <button class="btn btn-dark type="submit" name="operation" value="create_article">Създай артикул</button>
    </form>
</section>

<section>
    <form class="container-fluid" method="POST">
        {% csrf_token %}
        
        {{ingredient_form.as_p}}
        
        <button class="btn btn-dark type="submit" name="operation" value="add_ingredient">Добави съставка</button>
    </form>
</section>


{% endblock %}