{% extends 'base.html' %}

{% block content %}

<section class="container-fluid">

    <form action="." method="GET" name="cake_form">

        {% csrf_token %}
        <!-- {{form.as_p}} -->
        <ul type="None">
            <li>
                {% for p in source_products %}
                <label for="cake_product_id">{{p.title}}</label>
                <input type="checkbox" name="cake_product_id" value={{p.id}}>
            </li>
            <li>
                <label for="product_quantity">Количество</label>
                <input type="number" name="product_quantity">
            </li>
            {% endfor %}
        </ul>

        <button type="submit" class="btn btn-dark" value="Save" name="operation">Въведи</button>

    </form>

</section>

{% endblock %}