{% extends 'base.html' %}

{% block content %}

<section class="container-fluid">

        <form class="d-flex" role="search" style="margin-top: 1rem; margin-bottom: 1rem; width: 30%;">
            <input class="form-control me-2" type="search" placeholder="Всички продукти" aria-label="Search" name="search">
            <button class="btn btn-dark type="submit" name="operation" value="search">Търсене</button>         
        </form>
        
        {% for c in cakes %}
            <article class="card w-xxl mb-3">
            <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPOUAxdUZpyCv5LtjxKGFTF_ezRoT4XALZKH7AE-gAecLboHdqih_e1iGyJJyMcT5vVbE&usqp=CAU" class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <img src={{ c.cake_image }} alt="">
                    <h5 class="card-title">{{ c.title }}</h5>
                    <p class="card-text">{{ c.pieces }} бр.</p>
                    <p class="card-text">{{ c.weigth_g }} г.</p>
                    <p class="card-text">{{ c.weigth_per_piece_g }} лв/бр.</p>
                    <p class="card-text">{{ c.weigth_per_piece_g }} лв/бр.</p>
                    <p class="card-text">{{ c.weigth_per_piece_g }} лв/бр.</p>
                    <a href="#" class="btn btn-dark btn-sm">Редактиране</a>
                </div>
            </article>
        {% endfor %}

</section>

{% endblock %}