{% extends 'base.html' %}

{% block content %}

<section class="container-fluid">

    <form action="." method="GET" name="cake_form">

        {% csrf_token %}
        <!-- {{form.as_p}} -->
        <ul type="None">
            <li>
                <label for="title">Вид торта</label>
                <input type="text" name="title" id="title">
            </li>
            <hr>

            <!-- <p><strong>Продукти</strong></p> -->
            {% for p in source_products %}
            <li>
                <label>{{p.title}}</label>
                <input type="number" min="0" value="0" step="any" name={{p.id}}>
            </li>
            {% endfor %}
            <hr>

            <p><strong>Други</strong></p>
            <li>
                <label for="electricity">Ток</label>
                <input type="number" name="electricity" id="electricity">
            </li>
        </ul>

        <button type="submit" class="btn btn-dark">Въведи</button>

    </form>

</section>

{% endblock %}