<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Alpina confectionery</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://kit.fontawesome.com/8d975c1bfa.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>  
        {% include 'navbar.html' %}
    </header>
    <main class="main-container">
        <div class="top-distance"></div>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>