{% extends 'base.html' %}
{% block content %}
<div class="home-wrapper">
    <section class="section articles-wrap">

            <form action="" class="search-form">
                <select class="items" name="search_article">
                    <option value="">Всички изделия</option>
                    {% for a in articles %}
                    <option value={{a.id}}>
                        {{a.title}}
                    </option>
                    {% endfor %}
                </select>
                <button class="btn primary" type="submit">Филтрирай</button>
            </form>
    
            <section class="products">
                {% for a in articles %}
                <form class="product">
                    <button name="article-details" type="submit" value="{{a.id}}">
                        <span>{{a.title}}</span>
                        <span>{{ a.price_incl_vat }} лв</span>
                        <span>{{ a.price_incl_vat_per_piece }} лв/бр.</span>
                    </button>
                </form>
                {% endfor %}
            </section>
        
    </section>

    <section class="section products-wrap">

            <form action="" class="search-form">
                <select class="items" name="search_product">
                    <option value="">Всички продукти</option>
                    {% for p in products %}
                    <option value={{p.id}}>
                        {{p.title}}
                    </option>
                    {% endfor %}
                </select>
                <button class="btn primary" type="submit">Филтрирай</button>
            </form>

            <section class="products">
                {% for p in products %}
                <form class="product">
                    <button name="product-details" type="submit" value="{{p.id}}">
                        <span>{{p.title}}</span>
                        <span>{{ p.price }} лв/{{ p.unit }}</span>
                    </button>
                </form>
                {% endfor %}
            </section>

    </section>

</div>
{% endblock %}