{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="form" style="width: 50%; text-align: center; margin: auto;">
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label>Welcome, {{request.user.first_name}} {{request.user.last_name}}!</label>
    </div>
    <button type="submit" class="danger" name="operation" value="Logout" style="width: auto;">Log out</button>
  </form>
</div>
{% else %}
<div class="form" style="width: 50%; text-align: center; margin: auto;">
  <form method="POST" action="">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Username</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="username" name="uname" />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="password" name="pass" />
    </div>
    <button type="submit" class="primary" name="operation" value="Login" style="width: auto;">Log
      in</button>
  </form>
</div>
{% endif %}
{% endblock %}