{% extends 'base/base.html' %}
{% load tags %}

{% block page_title %}
Service history: {{ title }}
{% endblock %}

{% block nav %}
{% app_nav 'garage' %}
{% endblock %}

{% block content %}
<header class="section-title centered-form">
    <form action="" method="post" class="centered-form">
        {% csrf_token %}
        <h2 class="article-title">Are you sure you want to remove reminder "{{ reminder.title }}"?</h2>
        <div class="btns-container flex-centered">
            <button type="submit" class="btn danger-btn" value=True>Delete</button>
            <a href="{% url 'reminders' %}" class="btn primary-btn">Cancel</a>
        </div>
    </form>
</header>
{% endblock %}