@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

::-webkit-scrollbar {
    display: none;
}

body {
    min-width: 360px;
    max-width: 360px;
    max-height: 400px;
    background-color: inherit;
    color: #333333;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: scroll;
    position: relative;
    border: none;
}

button {
    all: unset;
    padding: 4px 12px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    flex-grow: 1;
}

.input-group {
    background-color: white;
    padding: 24px 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.sticky{
    position: sticky;
}

.input-field {
    all: unset;
    align-self: stretch;
    height: 40px;
    padding: 4px 12px;
    border-radius: 4px;
    background-color: white;
    color: #333333;
    border: 1px solid #333333;
}

.buttons-container {
    width: 100%;
    display: flex;
    flex: 0 0 auto;
    gap: 12px;
    justify-content: stretch;
    align-items: center;
}

.primary-btn {
    border: 2px solid #333333;
    transition: all 200ms ease-in-out;
}

.primary-btn:hover {
    background-color: #333333;
    border: 2px solid #333333;
    color: white;
}

.primary-btn:active {
    border: none;
}

.danger-btn {
    border: 2px solid #C34A36;
    transition: all 200ms ease-in-out;
}

.danger-btn:hover {
    background-color: #C34A36;
    color: white;
}

.danger-btn:active {
    border: none;
}

.leads-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    padding-left: 0;
}

.leads-container li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.leads-container a {
    overflow: hidden;
    flex-basis: 90%;
    text-decoration: none;
    color: #333333;
}
.leads-container a:hover{
    color: #008F7A;
}

.leads-container input {
    all: unset;
    border: 1px solid #333333;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.leads-container input:hover {
    border: 2px solid #C34A36;
}

.leads-container input:checked {
    background-color: #C34A36;
    border: none;
}