@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    cursor: default;
}

body {
    min-width: 800px;
    font-size: 14px;
    overflow: scroll;
    background-color: #333333;
    color: #E1E2E9;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    position: relative;
}

button {
    all: unset;
    cursor: pointer;
}

.btns-container {
    display: flex;
    margin-top: auto;
    gap: 12px;
}

.top-margin {
    margin-top: 24px;
}

.btn {
    cursor: pointer;
    padding: 4px 28px;
    border-radius: 4px;
}

.btn:hover {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    transform: translate(-2px, -2px);
    transition: all 200ms ease-in-out;
}

.primary-btn {
    border: 1px solid #E1E2E9;
}

.primary-btn:hover {
    background-color: #333333;
    border-color: #A3FF5D;
    color: #E1E2E9;
}

.danger-btn {
    border: 1px solid #E69C24;
}

.danger-btn:hover {
    background-color: #E69C24;
    color: black;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: #E1E2E9;
}

.header {
    width: 100%;
    position: sticky;
    z-index: 100;
    top: 0;
    height: 80px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto;
    background-color: #333333;
    color: #E1E2E9;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #E69C24;
}

.header__search {
    margin-right: 48px;
    padding: 4px;
    border-radius: 50%;
    margin-left: auto;
}

.input_field {
    width: 300px;
    background: rgb(51, 51, 51);
    background: linear-gradient(0deg, rgba(51, 51, 51, 1) 60%, rgba(20, 20, 20, 1) 100%);
    color: #E1E2E9;
    padding: 4px 12px;
    border: 1px solid #E1E2E9;
    border-radius: 4px;
}

.header__search:hover {
    color: #A3FF5D;
}

.nav {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 24px;
    margin-right: auto;
}

.nav__item {
    text-transform: uppercase;
}

.nav__item:hover {
    color: #A3FF5D;
    cursor: pointer;
}

.nav__rolldown {
    cursor: pointer;
}

.nav__rolldown__list {
    position: absolute;
    background-color: #333333;
    overflow: hidden;
    opacity: 0;
    height: 0;
    transition: all 400ms linear;
    border-radius: 0 0 8px;
    border-left: 1px solid white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.nav__rolldown__list>ul {
    object-fit: contain;
    padding: 0;
}

.nav__rolldown:hover .nav__rolldown__list {
    opacity: 1;
    height: auto;
    transform: translate(-5%);
}

.nav__rolldown__item {
    margin: 12px;
}

.nav__rolldown__item:hover {
    color: #A3FF5D;
}

.right-nav-item {
    margin-left: auto;
    margin-right: 48px;
}

.hidden {
    display: none;
}

.section-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 20px;
    overflow: hidden;
    background-color: #333333;
    margin-bottom: 24px;
}

.section-title {
    flex-basis: 100%;
    text-align: center;
    letter-spacing: 0.1rem;
    color: #E69C24;
    margin: 24px 0;
}

.article {
    width: 100%;
    min-height: 300px;
    border: 1px solid #E1E2E9;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}

.article-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.article:hover {
    border-color: #E69C24;
}

.article:hover .article-title {
    color: #E69C24
}

.article:hover .photo {
    opacity: 1;
    transition: opacity 300ms ease;
}

.photo-container {
    width: 40%;
    overflow: hidden;
    position: relative;
    box-shadow: 8px 0 12px rgba(0, 0, 0, 0.3);
}

.photo {
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
}

.info-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 4px;
    padding: 28px 40px;
}

.full-width {
    width: 100%;
}

.params {
    border: none;
    padding: 0;
}

.expand-container {
    width: 100%;
    height: 60px;
    background-color: #E1E2E9;
    color: #333333;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3); */
    overflow: hidden;
    /* display: flex; */
    /* justify-content: flex-start;
    align-content: flex-start; */
    transition: all 300ms linear;
}

.expand-container h3 {
    padding: 20px 0;
    text-align: center;
    font-weight: 400;
    background-color: #333333;
    border-top: 1px solid #E69C24;
    color: #E1E2E9;
    position: sticky;
    top: 0;
    left: 0;
}

.expand-container p {
    margin: 12px;
    padding: 6px 12px;
    line-height: 1.5;
}

.expand-container a {
    padding: 6px 12px;
    color: #333333;
    border: 1px solid #333333;
    border-radius: 4px;
}

.expand-container:hover {
    height: 60vh;
    overflow: scroll;
}

.expand-container a:hover {
    color: #E69C24;
    background-color: #333333;
    border-color: #333333;
    padding: 8px 14px;
}

.expand-container:first-child {
    border-radius: 6px 6px 0 0;
}

.expand-container:last-child {
    border-radius: 0 0 6px 6px;
    border-bottom: 1px solid #E69C24;
}

.separator {
    width: 4px;
}

.centered-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-centered {
    justify-content: center;
}

.form-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-row {
    display: flex;
    justify-content: space-between
}

.form-input-field {
    
}