{% extends 'base.html' %}
{% block content %}
<section class="container-form">
    <form action="." method="POST" class="input-form">
        {% csrf_token %}
        {{form.as_p}}
        <div class="buttons-container">
            <button type="submit" class="primary" value="Save" name="operation">Save</button>
            <button type="submit" class="danger" value='Delete' name="operation">Delete</button>
        </div>
    </form>
    <p>ЦЕНА</p>
    <p>{{ complex_product.price }} лв.</p>
</section>
{% endblock %}