{% extends 'base.html' %}
{% block content %}
    <!-- <section class="section"> -->
        <section class="container-form">
            <form action="" method="POST" class="input-form">
                {% csrf_token %}
                {{form.as_p}}
                <div class="buttons-container">
                    <button type="submit" class="primary" value="Save" name="operation">Save</button>
                    <button class="primary" name="operation" value="Cancel">Cancel</button>
                </div>
            </form>
        </section>
    <!-- </section> -->
{% endblock %}