{% extends 'base/base.html' %}
{% load filters %}
{% block page_title %}Service history: {{ title }}{% endblock %}
{% block nav %}

<li>
    <a href="{% url 'garage' %}" class="nav__item">Back to GARAGE</a>
</li>
<li>
    <a href="{% url 'add service' %}" class="nav__item">Add service</a>
</li>

{% endblock %}
{% block content %}

<header class="section-title">
    <h2>Service history: {{ title }} {{ plate }}</h2>
    <p>{{ time|date_style }}</p>
</header>
<main>
    <div class="section-flex ">
        {% for s in service %}
        <article class="article" id="{{ s.vehicle.id }}">
            {% if title == 'All vehicles' %}
            <h4 class="article-title">{{ s.vehicle.brand }} {{ s.vehicle.model }}</h4>
            {% endif %}
            <p>Description: {{ s.description }}</p>
            <p>Notes: {{ s.notes }}</p>
            <p>Odometer: {{ s.odometer }}</p>
            <p>Date: {{ s.date }}</p>
            <p>Autoservice: {{ s.autoservice }}</p>
            <p><strong>Price: {{ s.price|floatformat:2 }} lv</strong></p>
            <div class="btns-container">
                <a class="btn primary-btn" href="{% url 'edit service' s.id %}">Edit</a>
                <a class="btn danger-btn" href="{% url 'delete service' s.id %}">Delete</a>
            </div>
        </article>
        {% endfor %}
    </div>

</main>
{% endblock %}