{% extends 'base/base.html' %}
{% load filters %}
{% load tags %}

{% block page_title %}
Service history: {{ title }}
{% endblock %}

{% block nav %}
    {% app_nav 'garage' 'add service' %}
    <div class="header__search">
        <form action="" class="btns-container">
            <input type="text" name="header__search_field" id="header__search_field" class="input_field" placeholder="{{ placeholder }}">
            <button type="submit">
                <i class="{{ nav_search_btn_content }}"></i>
            </button>
        </form>
    </div>
{% endblock %}

{% block content %}
<header class="section-title">
    <h2>Service history: {{ title }} {{ plate }}</h2>
    <p>{{ time|date_style }}</p>
</header>

<main>
    <div class="section-flex ">
        {% for s in service %}
        <article class="article" id="service-{{ s.id }}">
            <div class="info-container full-width">
                {% if title == 'All vehicles' %}
                <h4 class="article-title">{{ s.vehicle.brand }} {{ s.vehicle.model }}</h4>
                {% endif %}
                <h3 class="article-title">{{ s.description }}</h3>
                <p>Notes: {{ s.notes }}</p>
                <p>Odometer: {{ s.odometer }}</p>
                <p>Date: {{ s.date }}</p>
                <p>Autoservice: {{ s.autoservice }}</p>
                <p><strong>Price: {{ s.price|floatformat:2 }} lv</strong></p>
                <div class="btns-container top-margin">
                    <a class="btn primary-btn" href="{% url 'edit service' s.id %}">Edit</a>
                    <a class="btn danger-btn" href="{% url 'delete service' s.id %}">Delete</a>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
</main>
{% endblock %}