{% extends 'base/base.html' %}
{% load filters %}
{% load tags %}

{% block page_title %}
Service history: {{ title }}
{% endblock %}

{% block nav %}

<ul role="list" class="nav">
    <li>
        <a href="{% url 'garage' %}" class="nav__item">Garage</a>
    </li>
    <li>
        <a href="{% url 'add service' vehicle.pk %}" class="nav__item">Add service</a>
    </li>
    <li>
        <a href="{% url 'reminders' %}" class="nav__item">Reminders</a>
    </li>
</ul>

<div class="header__search">
    <form action="" class="btns-container">
        <input type="text" name="header__search_field" id="header__search_field" class="input_field"
            placeholder="{{ placeholder }}">
        <button type="submit">
            <i class="{{ nav_search_btn_content }}"></i>
        </button>
        {% include 'tags/user-menu.html' %}
    </form>
</div>

{% endblock %}

{% block content %}
<header class="section-title">
    <h2>Service history: {{ title }}</h2>
    <p>{{ date|date_style }}</p>
    <form method="POST" action="{% url 'update odometer' vehicle.pk %}" class="flex-row flex-row-centered">
        {% csrf_token %}
        {{update_odometer_form}}
        <button class="btn primary-btn">Update odometer</button>
    </form>
</header>

<main>
    <div class="section-flex ">
        {% for s in service %}
        <article class="article" id="service-{{ s.pk }}">
            <div class="info-container full-width">
                <h3 class="article-title">{{ s.description }}</h3>
                {% if s.notes %}
                <p>Notes: {{ s.notes }}</p>
                {% endif %}
                <p><strong>Price: {{ s.price|floatformat:2 }} lv</strong></p>
                <h3 class="article-title">Serviced on:</h3>
                <p>Odometer: {{ s.odometer }}</p>
                <p>Date: {{ s.date }}</p>
                {% if s.autoservice %}
                <p>Autoservice: {{ s.autoservice }}</p>
                {% endif %}
                <div class="btns-container top-margin">
                    <a class="btn primary-btn" href="{% url 'edit service' s.pk %}">Edit</a>
                    <a class="btn danger-btn" href="{% url 'delete service' s.pk %}">Delete</a>
                </div>
            </div>
        </article>
        {% empty %}
            <h3 class="article-title centered-form">No service history</h3>                   
        {% endfor %}
    </div>
</main>
{% endblock %}