<nav class="navbar">
    <h1 class="navbar__brand">
        <a class="navbar-brand" href="/../articles_list/"><strong>АЛПИНА</strong></a>
    </h1>

    <ul class="navbar__menu">
        <!-- <li class="nav-item dropdown"> -->
        <li class="navbar_menu_item">
            {% if user.is_authenticated %}
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Меню
            </a>

            <ul class="dropdown-menu">

                <li><a class="dropdown-item" href="/../articles_list/">Артикули</a></li>
                <li><a class="dropdown-item" href="/../products_list/">Продукти</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/../create_product/">Нов продукт</a></li>
                <li><a class="dropdown-item" href="/../create_article/">Нов артикул</a></li>

                <!-- <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/">Account</a></li> -->
            </ul>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="nav-link active" aria-current="page" href="/">Регистриран: {{request.user.first_name}}
                {{request.user.last_name}}</a>
            {% else %}
            <a class="nav-link active" aria-current="page" href="/">Регистрирация</a>
            {% endif %}
        </li>
    </ul>
</nav>