<div class="container-fluid">

    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary"
        style="box-shadow: 0 0 10px 2px rgb(151, 150, 150); padding-right: 2rem;">
        <div class="container-fluid">

            <span class="navbar-brand mb-0 h1">
                <a class="navbar-brand" href="/../cakes_list/"
                    style="margin-left: 3rem; font-size: 18pt; color: brown;"><strong>АЛПИНА</strong></a>
            </span>

            <span class="float-end" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        {% if user.is_authenticated %}
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Меню
                        </a>

                        <ul class="dropdown-menu">

                            <li><a class="dropdown-item" href="/../cakes_list/">Артикули</a></li>
                            <li><a class="dropdown-item" href="/../products_list/">Продукти</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/../create_product/">Нов продукт</a></li>
                            <li><a class="dropdown-item" href="/../create_cake/">Нов артикул</a></li>

                            <!-- <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/">Account</a></li> -->
                        </ul>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                        <a class="nav-link active" aria-current="page" href="/">Регистриран: {{request.user.first_name}}
                            {{request.user.last_name}}</a>
                        {% else %}
                        <a class="nav-link active" aria-current="page" href="/">Регистрирация</a>
                        {% endif %}
                    </li>
                </ul>
            </span>

        </div>
    </nav>

</div>