{% extends 'base/base.html' %}
{% load tags %}

{% block page_title%}
{{ title }}
{% endblock %}

{% block nav %}
{% app_nav 'sign in' %}
{% endblock %}

{% block content %}
<header class="section-title">
    <h2>{{ title|upper }}</h2>
</header>

<form class="info-container" method="post" action="{% url 'create profile' %}">
    {% csrf_token %}
    {{form}}
    <button class='btn primary-btn' type="submit">Save</button>
    <a href="{% url 'garage' %}" class='btn primary-btn'>Cancel</a>
</form>

{% endblock %}