{% extends 'base/base.html' %}
{% load tags %}

{% block page_title%}
{{ title }}
{% endblock %}

{% block content %}
<header class="section-title">
    <form class="centered-form" method="post" action="{% url 'delete profile' user.pk %}">
        {% csrf_token %}
        <h2 class="article-title">{{title}}</h2>
        <div class="btns-container flex-centered">
            <button class='btn primary-btn' type="submit">Save</button>
            <a href="{% url 'edit profile' user.pk %}" class='btn primary-btn'>Cancel</a>
        </div>
    </form>
</header>    
{% endblock %}
