{% extends 'base/base.html' %}
{% load tags %}

{% block page_title%}
{{ title }}
{% endblock %}

{% block nav %}
{% app_nav 'garage' 'reminders' %}
{% endblock %}

{% block content %}

    <header class="section-title">
        <h2>{{ title }}</h2>
    </header>
    <div class="article">
        <form class="info-container full-width" method="post" action="{% url 'edit profile' %}">
            {% csrf_token %}

            {% for field in form %}

            <div class="flex-row">
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                {{field}}
            </div>

            {% for error in field.errors %}
                <p class="errors">{{ error }}</p>
            {% endfor %}

            {% endfor %}
    
            <div class="btns-container top-margin">
                <button class='btn primary-btn' type="submit" name="direction" value="garage">Save</button>
                <a href="{% url 'password change' %}" class='btn primary-btn'>Change password</a>
                <a href="{% url 'delete profile' user.pk %}" class='btn danger-btn'>Delete profile</a>
                <a href="{% url 'garage' %}" class='btn primary-btn'>Cancel</a>
            </div>
        </form>
    </div>

{% endblock %}