{% extends 'base/base.html' %}
{% load tags %}

{% block page_title%}
{{ title }}
{% endblock %}

{% block nav %}
{% app_nav 'sign in' %}
{% endblock %}

{% block content %}
<header class="section-title">
    <h2>{{ title|upper }}</h2>
</header>

<div class="article">
    <form class="info-container full-width" method="post" action="{% url 'edit profile' user.pk %}">
        {% csrf_token %}
        <div class="flex-row">
            <label for="{{field.id_for_label}}">{{form.first_name.label}}</label>
            {{form.first_name}}
        </div>
        <div class="flex-row">
            <label for="{{field.id_for_label}}">{{form.last_name.label}}</label>
            {{form.last_name}}
        </div>
        {{form.user}}
        <div class="btns-container top-margin">
            <button class='btn primary-btn' type="submit">Save</button>
            <a href="{% url 'delete profile' user.pk %}" class='btn danger-btn'>Delete</a>
            <a href="{% url 'garage' %}" class='btn primary-btn'>Cancel</a>
        </div>
    </form>
</div>

{% endblock %}