<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service</title>
</head>

<body>
    <header>
        <h2>{{ title }}: {{ vehicle }}</h2>
        <p>{{ time|date:'D: d.M.Y' }}</p>
        <hr>
    </header>
    <main>
        {% for s in service %}
        <article id="{{ s.vehicle.id }}">
            <h3>{{ s.description }}</h3>
            <p>{{ s.odometer }}</p>
            <p>{{ s.date }}</p>
            <p>{{ s.price }}</p>
        </article>
        {% endfor %}
    </main>
</body>

</html>