{% extends 'base/base.html' %}
{% load tags %}
{% load filters %}

{% block page_title %}Service history{% endblock %}
{% block content %}

{% app_nav 'home' %}

<header class="section-title">
    <h2>{{ title }}: {{ brand }}</h2>
    <p>{{ time|data_style }}</p>
</header>
<main>
    <div class="section-flex ">
        {% for s in service %}
        <article class="article" id="{{ s.vehicle.id }}">
            {% if brand == 'All vehicles' %}
            <h4 class="brand">{{ s.vehicle.brand }}</h4>
            {% endif %}
            <h3 class="article-title">{{ s.description }}</h3>
            <p>{{ s.odometer }}</p>
            <p>{{ s.date }}</p>
            <p><strong>{{ s.price|floatformat:2 }} lv</strong></p>
        </article>
        {% endfor %}
    </div>

</main>
{% endblock %}