{% extends 'base/base.html' %}
{% load tags %}
{% load static %}

{% block page_title%}
Add vehicle
{% endblock %}

{% block nav %}
{% app_nav 'garage' %}
{% endblock %}

{% block content %}
<form method="post" class="article">
    {% csrf_token %}
    <div class="photo-container">
        {% if not form.image %}
        <a href="{% url 'add photo' %}"><img src={% static 'images/default.jpg' %} alt="Add some image" class="photo"></a>
        {% endif %}
    </div>
    <div class="info-container">
        {% for field in form %}
        <div class="flex-row">
            <label for="id_{{field.name}}">{{field.label}}</label>
            {{field}}
        </div>
        {% endfor %}
        <div class="btns-container">
            <button type="submit" class="btn primary-btn" name="add-vehicle">Save</button>
            <button type="submit" class="btn primary-btn" name="cancel-add-vehicle">Cancel</button>
        </div>
    </div>
</form>
{% endblock %}