{% extends 'base/base.html' %}
{% load tags %}
{% load filters %}

{% block page_title %}Garage{% endblock %}

{% block content %}
{% app_nav 'service' %}
<header class="section-title">
    <h2>{{ title|upper }}</h2>
</header>
<main>
    <div class="section-flex ">
        {% if vehicles %}
        {% for v in vehicles %}
        <article class="article" id="{{v.id}}">
            <h3 class="article-title">{{v.brand}} {{v.model}}</h3>
            <p>VIN: {{v.vin}}</p>
            <p>Plate: {{v.plate}}</p>
            <p>Odometer: {{v.odometer}}</p>
            <p>Year of manufacture: {{v.year}}</p>
            <p>Purchase date: {{v.date_of_purchase}}</p>
            <p>Price: {{v.price}}</p>
            <div class="btns-container">
                <a class="btn primary-btn" href="{% url 'service' v.id %}">Service history</a>
            </div>
        </article>
        {% endfor %}
        {% endif %}
    </div>
</main>
{% endblock %}