{% extends 'base/base.html' %}
{% load tags %}

{% block page_title %}
Garage
{% endblock %}

{% block nav %}
{% app_nav 'add vehicle' %}
<div class="header__search">
    <form action="" class="btns-container">
        <input type="text" name="header__search_field" id="header__search_field" class="input_field" placeholder="{{ placeholder }}">
        <button type="submit">
            <i class="{{ nav_search_btn_content }}"></i>
        </button>
        {% comment %} <a href="{% url 'sign out' %}" class="btn danger-btn">Sign out</a> {% endcomment %}
        <div class="user-menu">
            <i class="fa-regular fa-user"></i>
            <ul class="user-menu-list" role="list">
                <li>
                    <a href="{% url 'edit profile' user.id %}" class="nav__item">Edit profile</a>
                </li>
                <li>
                    <a href="{% url 'sign out' %}" class="nav__item">Sign out</a>
                </li>
            </ul>
        </div>
    </form>
</div>

{% endblock %}

{% block content %}
<header class="section-title">
    <h2>{{ title|upper }}</h2>
</header>

<main>
    <div class="section-flex ">
        {% if vehicles %}
        {% for v in vehicles %}
        <article class="article" id="vehicle-{{v.id}}">
            <div class="photo-container">
                {% if v.photo %}
                <img src="media/{{ v.photo }}" alt="">
                {% else %}
                <i class="fa-solid fa-file-image"></i>
                {% endif %}
            </div>
            <div class="info-container">
                <h3 class="article-title">{{v.brand}} {{v.model}}</h3>
                <p>VIN code: {{v.vin}}</p>
                <p>Plate: {{v.plate}}</p>
                <p>Odometer: {{v.odometer}}</p>
                <p>Year of manufacture: {{v.year}}</p>
                <p>Purchase date: {{v.date_of_purchase}}</p>
                <p>Price: {{v.price}} lv</p>
                <div class="btns-container  top-margin">
                    <a class="btn primary-btn" href="{% url 'vehicle service' v.id %}">Service history</a>
                    <a class="btn primary-btn" href="{% url 'edit vehicle' v.id %}">Edit</a>
                    <a class="btn danger-btn" href="{% url 'delete vehicle' v.id %}">Delete</a>
                </div>
            </div>
        </article>
        {% endfor %}
        {% endif %}
    </div>
</main>
{% endblock %}