{% extends 'base/base.html' %}
{% load tags %}
{% load filters %}

{% block page_title %}
Garage
{% endblock %}

{% block nav %}
{% app_nav 'add vehicle' %}
{% endblock %}

{% block content %}
<header class="section-title">
    <h2>{{ title|upper }}</h2>
</header>

<main>
    <div class="section-flex ">
        {% if vehicles %}
        {% for v in vehicles %}
        <article class="article" id="vehicle-{{v.id}}">
            <div class="photo-container">
                {% if v.photo %}
                <img src="mediafiles/{{v.photo.image}}" alt="{{v.photo.name}}" class="photo">
                {% endif %}
            </div>
            <div class="info-container">
                <h3 class="article-title">{{v.brand}} {{v.model}}</h3>
                <p>VIN: {{v.vin}}</p>
                <p>Plate: {{v.plate}}</p>
                <p>Odometer: {{v.odometer}}</p>
                <p>Year of manufacture: {{v.year}}</p>
                <p>Purchase date: {{v.date_of_purchase}}</p>
                <p>Price: {{v.price}}</p>
                <!-- <div>
                    <select name="vehicle services" id="" style="width: 100%">
                        {% for service in vehicles_service %}
                        {% if v.id == service.vehicle_id %}
                        <option value="{{service.id}}">{{service.description}} | {{service.date}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div> -->
                <div class="btns-container">
                    <a class="btn primary-btn" href="{% url 'vehicle service' v.id %}">Service history</a>
                    <a class="btn primary-btn" href="{% url 'edit vehicle' v.id %}">Edit</a>
                    <a class="btn danger-btn" href="{% url 'delete vehicle' v.id %}">Delete</a>
                </div>
            </div>
        </article>
        {% endfor %}
        {% endif %}
    </div>
</main>
{% endblock %}