{% extends 'base/base.html' %}
{% load tags %}
{% load static %}

{% block page_title%}
Add vehicle
{% endblock %}

{% block nav %}
{% app_nav 'garage' %}
{% endblock %}

{% block content %}
<header class="section-title">
    <h2>{{ title|upper }}</h2>
</header>


<form method="post" class="article" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="btns-container top-margin">
        {{form.as_p}}
        <div class="btns-container top-margin">
            <button type="submit" class="btn primary-btn" name="add-photo">Upload</button>
            <!-- TODO: back to same add vehicle page -->
            <a href="{% url 'add vehicle'%}" class="btn primary-btn">Cancel</a>
        </div>
    </div>
</form>
{% endblock %}