@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.bg-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #234465;
    overflow: hidden;
}
.bg-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* bottom: 0; */
}
.card{
    width: 300px;
    aspect-ratio: 1/1.5;
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    /* border:1px solid #eee; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
.card .card__img-person{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .card__info-container{
    position: absolute;
    bottom: -246px;
    left: 0;
    width: 100%;
    color: antiquewhite;
    background-color: #234465;
    opacity: 0.9;
    padding: 12px;
    padding-bottom: 0;
    font-size: 12px;
    box-shadow: 0 0 30px rgba(33, 33, 33, 0.6);
    transition: bottom 300ms linear;
    z-index: 100;
}
.card .card__info-container .info-content{
    border: 1px solid antiquewhite;
    padding: 6px;
    margin-top: 6px;
    border-radius: 4px;
}
.card .card__info-container .info-head{
    margin-bottom: 12px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.3ch;
}
.card:hover .card__info-container{
    bottom: 0;
}
.card .card__info-container .info-content .info a{
    text-decoration: none;
    border: 1px solid antiquewhite;
    color: antiquewhite;
    display: inline-block;
    padding: 2px 4px;
    margin: 4px;
    border-radius: 3px;
}
.card .card__info-container .info-content .info a:hover{
    /* color: black; */
    border: 4px solid #c47a22;
    background-color: #c47a22;
    transition: border 150ms ease-in-out;
}
.card .card__info-container .info-content .info a:active{
    border: none;
    transition: border 150ms ease-in-out;
}
.certificates-container{
    width: 400px;
    height: 550px;
    position: absolute;
    top: 8%;
    left: 55%;
    border-radius: 4px;
    overflow: hidden;
    opacity: 0.3;
}
.certificates-container:hover{
    opacity: 1;
}
.certificates-container .certificates{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow-y: scroll;
}
.certificates-container .certificates img{
    width: 100%;
    aspect-ratio: 100%;
}
::-webkit-scrollbar {
    display: none;
}