@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}
.bg-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e2e2e2;
    overflow: hidden;
}
.bg-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* bottom: 0; */
}
.card{
    width: 300px;
    aspect-ratio: 1/1.5;
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.8);
    overflow: hidden;
}
.card .card__img-person{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .card__info-container{
    position: absolute;
    bottom: -276px;
    left: 0;
    width: 100%;
    color: antiquewhite;
    background-color: #131313;
    opacity: 0.8;
    padding: 12px;
    padding-bottom: 0;
    font-size: 12px;
    box-shadow: 0 0 30px rgba(33, 33, 33, 0.6);
    transition: bottom 300ms linear;
    z-index: 100;
}
.card .card__info-container .info-content{
    border: 1px solid antiquewhite;
    padding: 6px;
    margin-top: 6px;
    border-radius: 4px;
}
.card .card__info-container .info-head{
    margin-bottom: 12px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.3ch;
}
.card:hover .card__info-container{
    bottom: 0;
}
.card .card__info-container .info-content .info a{
    text-decoration: none;
    border: 1px solid antiquewhite;
    color: antiquewhite;
    display: inline-block;
    padding: 2px 4px;
    margin: 4px;
    border-radius: 3px;
}
.card .card__info-container .info-content .info a:hover{
    color: black;
    border: 4px solid orange;
    background-color: orange;
    transition: border 150ms ease-in-out;
}
.card .card__info-container .info-content .info a:active{
    border: none;
    transition: border 150ms ease-in-out;
}
/* .certificates-container{
    width: 40vw;
    height: 90vh;
    position: absolute;
    top: 5%;
    left: 50%;
    border-radius: 6px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.certificates-container .certificates{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.certificates-container .certificates img{
    width: 100%;
    aspect-ratio: 100%;
} */